* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #F4F6FA;

  font-family: Muli;
}

header {
  background: rgb(26,141,95);
  color: white;

  padding: 60px 150px 30px;

  height: 152px;
  width: 100%;
}

.absolute-position {
  position: absolute;
}

.table-container {
  padding: 60px 150px;

  height: 100vh;
  width: 100vw;

  background: #F4F6FA;
}

#close {
  display: flex;
  flex-direction: row-reverse;
  
  padding-bottom: 12px;
}

#close p {
  font-size: 20px;
  font-weight: 900;

  background: #f3f3f3;

  text-align: center;

  height: 30px;
  width: 30px;
}

#close p:hover {
  background: #cfcfcf;
  cursor: pointer;
}

#close p:active {
  background: #a3a3a3;
}

#serial-no {
  width: 80px;
}

table, th, td {
  table-layout: fixed;
  border-collapse: collapse;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 10px;
}

th {
  letter-spacing: 2px;
  width: 200px;
}

td {
  letter-spacing: 1px;
  padding: 8px;
}

tbody td {
  text-align: center;
}

.button-container {
  background: #dfe6f4;
  
  padding-left: 150px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#add-book-btn,
#remove-book-btn{
  border: 2px solid #1a8d5f;
  border-radius: 14px;

  background: white;
  color: #1a8d5f;

  font-size: 20px;
  font-weight: 400;

  padding: 10px 17px;
}

#remove-book-btn {
  border: 2px solid #FD5959;
  color: #FD5959;
}

#add-book-btn:hover{
  background: #1a8d5f;
  color: white;
}

#remove-book-btn:hover {
  background: #FD5959;
  color: white;
}

.form-container {
  visibility: hidden;

  display: inline-block;
  background: white;

  padding: 12px 30px 0;
  margin: auto;
  
  left: 0;
  right: 0;

  width: 400px;
  height: 340px;
}

.form-field {
  margin-bottom: 25px;
}

input {
  margin-left: 60px;
  padding: 6px 10px;
}

input[type="radio"] {
  margin-top: 4px;
  margin-right: 6px;
}

label,
legend {
  font-size: 16px;
  color: #9FA1A3;
}

.no-border {
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}